td {vertical-align: top;}

.fillcolor
{	vertical-align: top;
	padding: 0pt;
	background-color:#5C85EF;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#5C85EF', EndColorStr='#90B6FF');
}

A.blu1
{
	color: #3366CC;
	text-decoration: none;
	font-size: 95%;
}

A.blu1:visited
{
	color: #3366CC;
	text-decoration: none
}

A.blu1:hover
{
	text-decoration: underline
}

.visrptTitle
{
	color:Black;
	font-style:normal;
}

.visrptSummryLabel
{
	color:black;
	font-weight:bold;
}

.visrptGrandTotalRow
{	
	color:Black;
	font-weight:bold;
}

.visrptHeader
{
	color:White;
	font-style:normal;
	background-color:#5C85EF;
}

.visrptRowItem
{
	background-color:#DDDDDD;
}

.a1
{	color: #ffffff;
	text-decoration:none;
}

.p1
{	font-family: verdana, san-serif;
	font-size: 60%;
	COLOR: #ffffff;
	Margin: 4pt,0pt,0pt,0pt;
	line-height: .8em;
}

.p2
{	FONT-FAMILY: verdana, san-serif;
	FONT-WEIGHT: normal;
	font-size: 70%;
	COLOR: #333333;
	Margin: 4pt,0pt,0pt,0pt;
	line-height: 1.3em;
}

.label
{	FONT-FAMILY: verdana, san-serif;
	FONT-WEIGHT: bold;
	font-size: 70%;
	COLOR: #FFFFFF;
	Margin: .2em,0pt,2pt,2pt;
	line-height: 1em;
	text-decoration:none;
}

.gobutton
{
	padding: 0pt, 2pt, 0pt, 0pt;
	vertical-align: bottom;
}

.formText
{
	font-size: 70%;
	width: 99%;
	margin: 0;
	padding: 0;
}

.holderTable
{
	padding-left:1px;
	padding-right:1px;
}

.detsPara
{
	margin:2pt;
	font-size:60%;
}

.navTocColor
{
	background-color:#999999;
}

.indent
{
	margin-left:15px;
	margin-right:15px;
	padding-top:0px;
	margin-top:0px;
}

.results
{	
	COLOR: #333333;
	Margin: 4pt,0pt,0pt,10pt;
	text-indent: -10pt;
	line-height: 1.1em;
}

.propViewer 
{
	background-Color:white;
	color: black;
	font-family: verdana, san-serif;
	font-style: italic;
	font-weight: bold;
	font-size: 70%;
	text-align: center;
}

.propViewerTABLE 
{
	margin: 2pt;
	border-collapse:collapse;
	border:solid 1px #999999;	
}

.propViewerTHEAD 
{
	border: 2px;
	font-size: 60%;
}

.propViewerTD 
{
	font-family: Verdana, san-serif;
	FONT-WEIGHT: normal;
	font-size: 70%;
	COLOR: #000000;
	Margin: 0pt;
	line-height: 1.1em;
}

.propViewerEvenRow 
{
	background-Color: #E7E7E7;
}

.propViewerOddRow 
{
	background-Color: #FFFFFF; 
}

BODY
{
	font-family: Verdana, Sans-Serif;
	font-size: medium;
}

DIV
{
	margin:0;
	padding:0;
}

FORM
{
	margin:0;
}

.hiderScroll
{
	width:100%;
	margin-bottom:2px;
	margin-top:1px;
	overflow:auto;
}

.hider
{
	width:100%;
	margin-bottom:2px;
	margin-top:1px;
}

.nav
{
	width: 100%;
	height: 100%;
	overflow: auto;	
}

.menuItem 
{
	font-family:sans-serif;
	font-size:80%;
	line-height: 1.5em;
	background-color:white;
	color:black;
	cursor:hand;
}

.highlightItem 
{
	font-family:sans-serif;
	font-size:80%;
	line-height: 1.5em;
	background-Color:highlight; 
	color:white;
	cursor:hand;
}

.hlMenu 
{
	border:black 2px outset; 
	display:none; 
	z-index:10; 
	position:absolute; 
	background-Color:white;
}

.innerhlMenu 
{
	padding-left:2pt;
	padding-right:2pt;
	background-Color:white;
}

.svgmessage
{     FONT-FAMILY: verdana, san-serif;
      FONT-WEIGHT: normal;
      font-size: 80%;
      COLOR: #333333;
      Margin: 1em;
      line-height: 1.1em;
}
