<?xml version="1.0" encoding="UTF-8"?>

<?include AssemblyVersion.wxi ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="ProgramFilesFolder">
      <Directory Id="Dir_MSBuild" Name="MSBuild">
        <Directory Id="Dir_MSBuildMSStyleCop" Name="StyleCop">
          <Directory Id="MSBuildBinDir" Name="v$(var.WixVersionShort)" FileSource="$(var.DropDir)">            
            <Component Id="StyleCopMSBuildBinaries" Guid="855AFA48-D08E-4D77-9809-38C149EA3F2E">              
              <File Id="MBuild_Targets" Name="StyleCop.Targets" Vital="yes" />              
              <RegistryValue Root='HKLM' Key='Software\Microsoft\VisualStudio\9.0\MSBuild\SafeImports' Type='string' Name='StyleCop.v$(var.WixVersionShort)' Value='[MSBuildBinDir]StyleCop.Targets' Id='SafeImport_001' />
              <RegistryValue Root='HKLM' Key='Software\CodePlex\StyleCop' Type='string' Name='TargetsDir' Value='[MSBuildBinDir]' Id='Targets_001' />
            </Component>            
          </Directory>
        </Directory>
      </Directory>
    </DirectoryRef>

    <ComponentGroup Id="MSBuild_Common" >
      <ComponentRef Id="StyleCopCommon" />
      <ComponentRef Id="StyleCopMSBuildBinaries" />
      <ComponentRef Id="SettingsEditorProgFilesComponent" />
      <ComponentRef Id="StyleCopDocs" />
      <ComponentRef Id="StandardRegistryKeys" />
    </ComponentGroup> 
  </Fragment>
</Wix>
