<?xml version="1.0" encoding="UTF-8"?>

<?include AssemblyVersion.wxi ?>
<?include SharedIncludes.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Name="$(var.ProductName)" Id='$(var.ProductCode)' Language='1033' Version='$(var.WixVersionLong)' Manufacturer='$(var.Manufacturer)' UpgradeCode='$(var.UpgradeCode)'>
    <Package Languages='1033' InstallerVersion="200" Compressed="yes" />

    <Upgrade Id='$(var.UpgradeCode)'>
      <UpgradeVersion OnlyDetect='yes' Minimum='$(var.WixVersionLong)' IncludeMinimum='no' Property='NEWERVERSIONDETECTED' />
      <UpgradeVersion OnlyDetect='no' Minimum='0.0.0' IncludeMinimum='yes' Maximum='$(var.WixVersionLong)' IncludeMaximum='no' Property='OLDERVERSIONBEINGUPGRADED' MigrateFeatures='yes' />
    </Upgrade>

    <!-- You must be an admin to execute devenv /setup -->
    <Condition Message="You need to be an administrator to install [ProductName].">Privileged</Condition>

    <!-- Disallow installing an older version over a newer version -->
    <Condition Message="A later version of [ProductName] is already installed.">NOT NEWERVERSIONDETECTED</Condition>

    <Feature Id='Feature_StyleCopPackage'
             Title='Visual Studio integration'
             Description="Files for setting up StyleCop integration with Microsoft Visual Studio 2008 and Microsoft Visual Studio 2010."
             Level="1" Display='expand' ConfigurableDirectory='INSTALLDIR' AllowAdvertise='no' InstallDefault='local' Absent='allow'>
      <ComponentGroupRef Id="VisualStudio_Common" />
      <!-- Require VS 2008 or VS 2010 to be installed -->
      <Condition Level="1"><![CDATA[VS90DEVENV<>"" OR VS2010DEVENV<>""]]></Condition>
      <Condition Level="0"><![CDATA[VS90DEVENV="" AND VS2010DEVENV=""]]></Condition>
      
      <Feature Id='Feature_ReSharper'
               Title='R# integration'
               Description='Files for setting up StyleCop integration with JetBrains ReSharper 5.1.'
               Level='500' AllowAdvertise="no" Display="expand" InstallDefault="local" TypicalDefault="install" Absent="allow">
        <ComponentGroupRef Id="ReSharper_Common" />
        <Condition Level="1"><![CDATA[RESHARPER51_VS90_VERSION<>"" OR RESHARPER51_VS100_VERSION<>""]]></Condition>
        <Condition Level="0"><![CDATA[RESHARPER51_VS90_VERSION="" AND RESHARPER51_VS100_VERSION=""]]></Condition>
      </Feature>

      <Feature Id='Feature_VisualStudioTemplates'
               Title='Visual Studio templates'
               Description='Files for updating the standard Visual Studio templates to be StyleCop compliant.'
               Level='500' AllowAdvertise="no" Display="expand" InstallDefault="local" TypicalDefault="install" Absent="allow">
        <ComponentGroupRef Id="VSTemplates_Common" /> 
        <Condition Level="1"><![CDATA[VS2010DEVENV<>""]]></Condition>
        <Condition Level="0"><![CDATA[VS2010DEVENV=""]]></Condition>      
      </Feature>

    </Feature>

    <Feature Id='Feature_MSBuild'
             Title='MSBuild integration'
             Description='Files for setting up StyleCop integration with Microsoft MSBuild.'
             Level='500' AllowAdvertise="no" Display="expand" InstallDefault="local" TypicalDefault="install" Absent="allow">
      <ComponentGroupRef Id="MSBuild_Common" />
    </Feature>

    <InstallUISequence>
      <Custom Action="ToggleALLUSERSToPerUser" Before="FindRelatedProducts">STYLECOP_PREVIOUS_INSTALL_PER_USER AND NOT Installed</Custom>
      <Custom Action="RevertALLUSERSToPerMachine" After="FindRelatedProducts">STYLECOP_PREVIOUS_INSTALL_PER_USER AND NOT Installed</Custom>
      <!-- Move AppSearch to before FindRelatedProduct so that RegistrySearch properties get evaluated before they are used -->      
      <AppSearch Before="FindRelatedProducts" />
    </InstallUISequence>

    <InstallExecuteSequence>
      <Custom Action="ToggleALLUSERSToPerUser" Before="FindRelatedProducts">STYLECOP_PREVIOUS_INSTALL_PER_USER AND NOT Installed</Custom>
      <Custom Action="RevertALLUSERSToPerMachine" After="FindRelatedProducts">STYLECOP_PREVIOUS_INSTALL_PER_USER AND NOT Installed</Custom>
      <!-- Move AppSearch to before FindRelatedProduct so that RegistrySearch properties get evaluated before they are used -->      
      <AppSearch Before="FindRelatedProducts" />
      <RemoveExistingProducts After="InstallInitialize" />
      <!--  We replace the use of VS90Setup with StyleCopVS90Setup to add support for the devenv.exe flag /nosetupvstemplates -->
      <Custom Action="StyleCopVS90Setup" Before="InstallFinalize"><![CDATA[&Feature_StyleCopPackage > 1 AND VS90DEVENV<>""]]></Custom>
      <Custom Action="StyleCopVS10Setup" Before="InstallFinalize"><![CDATA[&Feature_StyleCopPackage > 1 AND VS2010DEVENV<>""]]></Custom>
      <Custom Action="SetARPINSTALLLOCATION" After="InstallValidate"></Custom>
    </InstallExecuteSequence>

    <WixVariable Id="WixUISupportPerUser" Value="0" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="Bitmaps\bannrbmp.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Bitmaps\dlgbmp.bmp" />

    <UI>
      <UIRef Id="WixUI_FeatureTree" />
      <UIRef Id="WixUI_ErrorProgressText" />
    </UI>

    <Media Id="1" Cabinet="WixSetup.cab" EmbedCab="yes" />

    <Icon Id="WixIcon" SourceFile="..\VSPackage\Resources\StyleCop.ico" />

    <Property Id="ALLUSERS" Value='1' />
    <Property Id="ARPHELPLINK" Value='$(var.Manufacturer)' />
    <Property Id="ARPPRODUCTICON" Value="WixIcon" />
    <Property Id="ARPURLINFOABOUT" Value='$(var.Manufacturer)'/>
    <Property Id="ARPURLUPDATEINFO" Value='$(var.Manufacturer)' />

    <Property Id="RESHARPER51_VS100_VERSION" Admin="yes" Secure="yes">
      <RegistrySearch Id="REG_RESHARPER51_VS100_VERSION" Root="HKLM" Key="Software\JetBrains\ReSharper\v5.1\vs10.0" Name="ProductVersion" Type="raw" />
    </Property>

    <Property Id="RESHARPER51_VS90_VERSION" Admin="yes" Secure="yes">
      <RegistrySearch Id="REG_RESHARPER51_VS90_VERSION" Root="HKLM" Key="Software\JetBrains\ReSharper\v5.1\vs9.0" Name="ProductVersion" Type="raw" />
    </Property>

    <!-- This property is used to detect versions of StyleCop < 4.5 that had per user installs -->
    <Property Id="STYLECOP_PREVIOUS_INSTALL_PER_USER" Admin="yes" Secure="yes">
      <RegistrySearch Id="RegSearchForStyleCopPreviousInstallPerUser" Root="HKCU" Key="Software\Microsoft\Installer\Products\C35557135D88B35439BC04218A7235A3" Name="ProductName" Type="raw" />
    </Property>

    <CustomAction Id="ToggleALLUSERSToPerUser" Property="ALLUSERS" Value=""/>
    <CustomAction Id="RevertALLUSERSToPerMachine" Property="ALLUSERS" Value="1"/>
    <CustomAction Id="SetARPINSTALLLOCATION" Property="ARPINSTALLLOCATION" Value="[INSTALLDIR]" />

  </Product>
</Wix>
