<?xml version="1.0" encoding="UTF-8"?>

<?include AssemblyVersion.wxi ?>
<?include SharedIncludes.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Name="$(var.ProductName)" Id='$(var.ProductCode)' Language='1033' Version='$(var.WixVersionLong)' Manufacturer='$(var.Manufacturer)' UpgradeCode='$(var.UpgradeCode)'>
    <Package Languages='1033' InstallerVersion="200" Compressed="yes" />

    <Upgrade Id='$(var.UpgradeCode)'>
      <UpgradeVersion OnlyDetect='yes' Minimum='$(var.WixVersionLong)' IncludeMinimum='no' Property='NEWERVERSIONDETECTED' />
      <UpgradeVersion OnlyDetect='no' Minimum='0.0.0' IncludeMinimum='yes' Maximum='$(var.WixVersionLong)' IncludeMaximum='no' Property='OLDERVERSIONBEINGUPGRADED' MigrateFeatures='yes' />
    </Upgrade>
    
    <!-- Disallow installing an older version over a newer version -->
    <Condition Message="A later version of [ProductName] is already installed."><![CDATA[NOT NEWERVERSIONDETECTED]]></Condition>

    <Feature Id='Feature_StyleCopPackage'
             Title='Visual Studio integration'
             Description="Files for setting up StyleCop integration with Microsoft Visual Studio 2008, Microsoft Visual Studio 2010 and Microsoft Visual Studio 11."
             Level="1" Display='expand' ConfigurableDirectory='INSTALLDIR' AllowAdvertise='no' InstallDefault='local' Absent='allow'>
      <ComponentGroupRef Id="VisualStudio_Common" />
      <!-- Require VS 2008, 2010 or 2011 to be installed -->
      <Condition Level="1"><![CDATA[VS90DEVENV <> "" OR VS2010DEVENV <> "" OR VS2011DEVENV <> ""]]></Condition>
      <Condition Level="0"><![CDATA[VS90DEVENV = "" AND VS2010DEVENV = "" AND VS2011DEVENV = ""]]></Condition>
      
      <Feature Id='Feature_ReSharper'
               Title='R# integration'
               Description='Files for setting up StyleCop integration with JetBrains ReSharper 5.1 ($(var.SupportedReSharper51Version)), 6.0 ($(var.SupportedReSharper60Version)), 6.1 ($(var.SupportedReSharper610Version)) or 6.1.1 ($(var.SupportedReSharper611Version)).'
               Level='500' AllowAdvertise="no" Display="expand" InstallDefault="local" TypicalDefault="install" Absent="allow">
        <ComponentGroupRef Id="ReSharper_Common" />
        <Condition Level="1"><![CDATA[RESHARPER51_VERSION <> "" OR RESHARPER60_VERSION <> "" OR RESHARPER61_VERSION <> "" OR RESHARPER61_VS110_INSTALLDIR <> ""]]></Condition>
        <Condition Level="0"><![CDATA[RESHARPER51_VERSION = "" AND RESHARPER60_VERSION = "" AND RESHARPER61_VERSION = "" AND RESHARPER61_VS110_INSTALLDIR = ""]]></Condition>
      </Feature>

      <Feature Id='Feature_VisualStudioTemplates'
               Title='Visual Studio templates'
               Description='Files for updating the standard Visual Studio templates to be StyleCop compliant.'
               Level='500' AllowAdvertise="no" Display="expand" InstallDefault="local" TypicalDefault="install" Absent="allow">
        <ComponentGroupRef Id="VSTemplates_Common" /> 
        <Condition Level="1"><![CDATA[VS2010DEVENV <> "" OR VS2011DEVENV <> ""]]></Condition>
        <Condition Level="0"><![CDATA[VS2010DEVENV = "" AND VS2011DEVENV = ""]]></Condition>      
      </Feature>

    </Feature>

    <Feature Id='Feature_MSBuild'
             Title='MSBuild integration'
             Description='Files for setting up StyleCop integration with Microsoft MSBuild.'
             Level='1' AllowAdvertise="no" Display="expand" InstallDefault="local" TypicalDefault="install" Absent="allow">
      <ComponentGroupRef Id="MSBuild_Common" />      
    </Feature>

    <InstallUISequence>
      <Custom Action='IsPrivileged' Before='AppSearch'><![CDATA[NOT Privileged]]></Custom>
      <Custom Action="ToggleALLUSERSToPerUser" Before="FindRelatedProducts"><![CDATA[STYLECOP_PREVIOUS_INSTALL_PER_USER AND NOT Installed]]></Custom>
      <Custom Action="RevertALLUSERSToPerMachine" After="FindRelatedProducts"><![CDATA[STYLECOP_PREVIOUS_INSTALL_PER_USER AND NOT Installed]]></Custom>
      <!-- Move AppSearch to before FindRelatedProduct so that RegistrySearch properties get evaluated before they are used -->      
      <AppSearch Before="FindRelatedProducts" />     
    </InstallUISequence>

    <InstallExecuteSequence>
      <Custom Action='IsPrivileged' Before='AppSearch'><![CDATA[NOT Privileged]]></Custom>
      <Custom Action="ToggleALLUSERSToPerUser" Before="FindRelatedProducts"><![CDATA[STYLECOP_PREVIOUS_INSTALL_PER_USER AND NOT Installed]]></Custom>
      <Custom Action="RevertALLUSERSToPerMachine" After="FindRelatedProducts"><![CDATA[STYLECOP_PREVIOUS_INSTALL_PER_USER AND NOT Installed]]></Custom>
      <!-- Move AppSearch to before FindRelatedProduct so that RegistrySearch properties get evaluated before they are used -->      
      <AppSearch Before="FindRelatedProducts" />
      <RemoveExistingProducts After="InstallInitialize" />
      <!--  We replace the use of VS90Setup with StyleCopVS90Setup to add support for other devenv.exe flags -->
      <Custom Action="StyleCopVS90Setup" Before="InstallFinalize"><![CDATA[&Feature_StyleCopPackage > 1 AND VS90DEVENV <> "" AND NOT Installed]]></Custom>
      <Custom Action="StyleCopVS10Setup" Before="InstallFinalize"><![CDATA[(&Feature_StyleCopPackage > 1 AND VS2010DEVENV <> "" AND NOT Installed) OR (&Feature_VisualStudioTemplates = 3)]]></Custom>
      <Custom Action="SetARPINSTALLLOCATION" After="InstallValidate"></Custom>
      <Custom Action='CA_BackupVisualStudioTemplateFiles' Before='InstallFiles'><![CDATA[&Feature_VisualStudioTemplates = 3]]></Custom>
      <Custom Action='CA_RestoreVisualStudioTemplateFiles' Before='InstallFinalize'><![CDATA[&Feature_VisualStudioTemplates = 2 AND !Feature_VisualStudioTemplates = 3]]></Custom>
    </InstallExecuteSequence>

    <WixVariable Id="WixUISupportPerUser" Value="0" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="Bitmaps\bannrbmp.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Bitmaps\dlgbmp.bmp" />

    <UI>
      <UIRef Id="WixUI_FeatureTreeCustom" />
      <UIRef Id="WixUI_ErrorProgressText" />
      
      <Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="ReSharperVersionDlg" Order="1">
        <![CDATA[
          (&Feature_ReSharper = 3)
          AND
          (
            (RESHARPER51_VERSION <> "" AND RESHARPER51_VERSION <> "$(var.SupportedReSharper51Version)")
            OR
            (RESHARPER60_VERSION <> "" AND RESHARPER60_VERSION <> "$(var.SupportedReSharper60Version)")
            OR
            (
            RESHARPER61_VERSION <> "" AND
                                      (
                                        RESHARPER61_VERSION <> "$(var.SupportedReSharper610Version)" OR RESHARPER61_VERSION <> "$(var.SupportedReSharper611Version)"
                                      )
            )
            OR
            (
            RESHARPER61_VS110_INSTALLDIR <> "" AND
                                      (
                                        RESHARPER610_VS110_VERSION = "" AND RESHARPER611_VS110_VERSION = ""
                                      )
            )
          )
          ]]>
      </Publish>
      <Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="2">
        <![CDATA[
          (&Feature_ReSharper = 3)
          AND
          (
            (RESHARPER51_VERSION = "" OR RESHARPER51_VERSION = "$(var.SupportedReSharper51Version)")
            AND
            (RESHARPER60_VERSION = "" OR RESHARPER60_VERSION = "$(var.SupportedReSharper60Version)")
            AND
            (RESHARPER61_VERSION = "" OR RESHARPER61_VERSION = "$(var.SupportedReSharper610Version)" OR RESHARPER61_VERSION = "$(var.SupportedReSharper611Version)")
            AND
            (RESHARPER61_VS110_INSTALLDIR = "" OR (RESHARPER610_VS110_VERSION <> "" OR RESHARPER611_VS110_VERSION <> ""))
          )
          ]]>
      </Publish>
      <Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="3"><![CDATA[&Feature_ReSharper < 3]]></Publish>
    </UI>

    <Media Id="1" Cabinet="WixSetup.cab" EmbedCab="yes" />

    <Icon Id="WixIcon" SourceFile="..\VSPackage\Resources\StyleCop.ico" />

    <Property Id="ALLUSERS" Value='1' Admin="yes" Secure="yes" />
    <Property Id="ARPHELPLINK" Value='$(var.Manufacturer)' />
    <Property Id="ARPPRODUCTICON" Value="WixIcon" />
    <Property Id="ARPURLINFOABOUT" Value='$(var.Manufacturer)'/>
    <Property Id="ARPURLUPDATEINFO" Value='$(var.Manufacturer)' />

    <!-- This property is used to detect versions of StyleCop < 4.5 that had per user installs -->
    <Property Id="STYLECOP_PREVIOUS_INSTALL_PER_USER" Admin="yes" Secure="yes">
      <RegistrySearch Id="RegSearchForStyleCopPreviousInstallPerUser" Root="HKCU" Key="Software\Microsoft\Installer\Products\C35557135D88B35439BC04218A7235A3" Name="ProductName" Type="raw" />
    </Property>

    <CustomAction Id='IsPrivileged' Error='You need to be an administrator to install [ProductName].' />
    <CustomAction Id="ToggleALLUSERSToPerUser" Property="ALLUSERS" Value=""/>
    <CustomAction Id="RevertALLUSERSToPerMachine" Property="ALLUSERS" Value="1"/>
    <CustomAction Id="SetARPINSTALLLOCATION" Property="ARPINSTALLLOCATION" Value="[INSTALLDIR]" />
    <Binary Id="WixCustomAction.dll" SourceFile="$(var.WixCustomAction.TargetDir)$(var.WixCustomAction.TargetName).CA.dll" />
    <CustomAction Id="CA_RestoreVisualStudioTemplateFiles" BinaryKey="WixCustomAction.dll" DllEntry="RestoreVisualStudioTemplateFiles" Execute="deferred" Impersonate="no" Return="check" />
    <CustomAction Id="CA_BackupVisualStudioTemplateFiles" BinaryKey="WixCustomAction.dll" DllEntry="BackupVisualStudioTemplateFiles" Execute="deferred" Impersonate="no" Return="check" />
  </Product>
</Wix>
