<?xml version="1.0" encoding="UTF-8"?>

<?include SharedIncludes.wxi ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Fragment>

    <Property Id="RESHARPER71_VERSION" Admin="yes" Secure="yes">
      <RegistrySearch Id="REG_RESHARPER71_VERSION" Root="HKLM" Key="Software\JetBrains\ReSharper\v7.1" Name="ProductVersion" Type="raw" />
    </Property>

    <Property Id="RESHARPER71_INSTALLDIR" Admin="yes" Secure="yes">
      <RegistrySearch Id="REG_RESHARPER71_INSTALLDIR" Type="directory" Root="HKLM" Key="SOFTWARE\JetBrains\ReSharper\v7.1" Name="InstallDir" />
    </Property>
    
    <Property Id="RESHARPER70_VERSION" Admin="yes" Secure="yes">
      <RegistrySearch Id="REG_RESHARPER70_VERSION" Root="HKLM" Key="Software\JetBrains\ReSharper\v7.0" Name="ProductVersion" Type="raw" />
    </Property>

    <Property Id="RESHARPER70_INSTALLDIR" Admin="yes" Secure="yes">
      <RegistrySearch Id="REG_RESHARPER70_INSTALLDIR" Type="directory" Root="HKLM" Key="SOFTWARE\JetBrains\ReSharper\v7.0" Name="InstallDir" />
    </Property>

    <Property Id="RESHARPER61_VERSION" Admin="yes" Secure="yes">
      <RegistrySearch Id="REG_RESHARPER61_VERSION" Root="HKLM" Key="Software\JetBrains\ReSharper\v6.1" Name="ProductVersion" Type="raw" />
    </Property>

    <Property Id="RESHARPER61_INSTALLDIR" Admin="yes" Secure="yes">
      <RegistrySearch Id="REG_RESHARPER61_INSTALLDIR" Type="directory" Root="HKLM" Key="SOFTWARE\JetBrains\ReSharper\v6.1" Name="InstallDir" />
    </Property>

    <Property Id="RESHARPER60_VS90_VERSION" Admin="yes" Secure="yes">
      <RegistrySearch Id="REG_RESHARPER60_VS90_VERSION" Root="HKLM" Key="Software\JetBrains\ReSharper\v6.0\vs9.0" Name="ProductVersion" Type="raw" />
    </Property>

    <Property Id="RESHARPER60_VERSION" Admin="yes" Secure="yes">
      <RegistrySearch Id="REG_RESHARPER60_VERSION" Root="HKLM" Key="Software\JetBrains\ReSharper\v6.0\vs9.0" Name="ProductVersion" Type="raw" />
    </Property> 

    <Property Id="RESHARPER60_VS100_VERSION" Admin="yes" Secure="yes">
      <RegistrySearch Id="REG_RESHARPER60_VS100_VERSION" Root="HKLM" Key="Software\JetBrains\ReSharper\v6.0\vs10.0" Name="ProductVersion" Type="raw" />
    </Property>
    
    <SetProperty Id="RESHARPER60_VERSION" After="AppSearch" Value="[RESHARPER60_VS100_VERSION]">
      <![CDATA[RESHARPER60_VS100_VERSION <>""]]>
    </SetProperty>   

    <Property Id="RESHARPER60_VS90_INSTALLDIR" Admin="yes" Secure="yes">
      <RegistrySearch Id="REG_RESHARPER60_VS90_INSTALLDIR" Type="directory" Root="HKLM" Key="SOFTWARE\JetBrains\ReSharper\v6.0\vs9.0" Name="InstallDir" />
    </Property>

    <Property Id="RESHARPER60_VS100_INSTALLDIR" Admin="yes" Secure="yes">
      <RegistrySearch Id="REG_RESHARPER60_VS100_INSTALLDIR" Type="directory" Root="HKLM" Key="SOFTWARE\JetBrains\ReSharper\v6.0\vs10.0" Name="InstallDir" />
    </Property>

    <Property Id="RESHARPER51_VERSION" Admin="yes" Secure="yes">
      <RegistrySearch Id="REG_RESHARPER51_VERSION" Root="HKLM" Key="Software\JetBrains\ReSharper\v5.1\vs9.0" Name="ProductVersion" Type="raw" />
    </Property>

    <Property Id="RESHARPER51_VS100_VERSION" Admin="yes" Secure="yes">
      <RegistrySearch Id="REG_RESHARPER51_VS100_VERSION" Root="HKLM" Key="Software\JetBrains\ReSharper\v5.1\vs10.0" Name="ProductVersion" Type="raw" />
    </Property>

    <SetProperty Id="RESHARPER51_VERSION" After="AppSearch" Value="[RESHARPER51_VS100_VERSION]">
      <![CDATA[RESHARPER51_VS100_VERSION <>""]]>
    </SetProperty>

    <Property Id="RESHARPER51_VS90_INSTALLDIR" Admin="yes" Secure="yes">
      <RegistrySearch Id="REG_RESHARPER51_VS90_INSTALLDIR" Type="directory" Root="HKLM" Key="SOFTWARE\JetBrains\ReSharper\v5.1\vs9.0" Name="InstallDir" />
    </Property>

    <Property Id="RESHARPER51_VS100_INSTALLDIR" Admin="yes" Secure="yes">
      <RegistrySearch Id="REG_RESHARPER51_VS100_INSTALLDIR" Type="directory" Root="HKLM" Key="SOFTWARE\JetBrains\ReSharper\v5.1\vs10.0" Name="InstallDir" />
    </Property>

    <DirectoryRef Id="ProgramFilesFolder">

      <Directory Id="RESHARPER51_VS100_INSTALLDIR" Name="[RESHARPER51_VS100_INSTALLDIR]">
        <Directory Id="Dir_JetBrains_ReSharper_v51_vs10_Plugins" Name="Plugins">
          <Directory Id="Dir_JetBrains_ReSharper_v51_vs10_Plugins_Drop" Name="$(var.ProductNameShort)" FileSource="$(var.DropDir)">
            <Component Id="COM_RESHARPER513_vs10" Guid="{716F19FC-1A97-4A4D-A384-1D11CBDB5251}">
              <File Id="FILE_RESHARPER513_vs10" Name="StyleCop.ReSharper513.dll" Checksum="yes" Vital="yes">
                <netfx:NativeImage Id="ngen_FILE_RESHARPER513_vs10" Platform="all" Priority="0"/>
              </File>
              <Condition><![CDATA[RESHARPER51_VERSION <> ""]]></Condition>
            </Component>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="RESHARPER51_VS90_INSTALLDIR" Name="[RESHARPER51_VS90_INSTALLDIR]">
        <Directory Id="Dir_JetBrains_ReSharper_v51_vs9_Plugins" Name="Plugins">
          <Directory Id="Dir_JetBrains_ReSharper_v51_vs9_Plugins_Drop" Name="$(var.ProductNameShort)" FileSource="$(var.DropDir)">
            <Component Id="COM_RESHARPER513_vs9" Guid="{4F073D7F-9F57-47C8-BAED-00A7A42BAF3D}">
              <File Id="FILE_RESHARPER513_vs9" Name="StyleCop.ReSharper513.dll" Checksum="yes" Vital="yes">
                <netfx:NativeImage Id="ngen_FILE_RESHARPER513_vs9" Platform="all" Priority="0"/>
              </File>
              <Condition><![CDATA[RESHARPER51_VERSION <> ""]]></Condition>
            </Component>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="RESHARPER60_VS90_INSTALLDIR" Name="[RESHARPER60_VS90_INSTALLDIR]">
        <Directory Id="Dir_JetBrains_ReSharper_v60_vs9_Plugins" Name="Plugins">
          <Directory Id="Dir_JetBrains_ReSharper_v60_vs9_Plugins_Drop" Name="$(var.ProductNameShort)" FileSource="$(var.DropDir)">
            <Component Id="COM_RESHARPER600_vs9" Guid="{9E2B3CD8-C363-409B-BAD0-94B70103BDA3}">
              <File Id="FILE_RESHARPER600_vs9" Name="StyleCop.ReSharper600.dll" Checksum="yes" Vital="yes">
                <netfx:NativeImage Id="ngen_FILE_RESHARPER600_vs9" Platform="all" Priority="0"/>
              </File>
              <Condition><![CDATA[RESHARPER60_VERSION <> ""]]></Condition>
            </Component>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="RESHARPER60_VS100_INSTALLDIR" Name="[RESHARPER60_VS100_INSTALLDIR]">
        <Directory Id="Dir_JetBrains_ReSharper_v60_vs10_Plugins" Name="Plugins">
          <Directory Id="Dir_JetBrains_ReSharper_v60_vs10_Plugins_Drop" Name="$(var.ProductNameShort)" FileSource="$(var.DropDir)">
            <Component Id="COM_RESHARPER600_vs10" Guid="*">
              <File Id="FILE_RESHARPER600_vs10" Name="StyleCop.ReSharper600.dll" Checksum="yes" Vital="yes">
                <netfx:NativeImage Id="ngen_FILE_RESHARPER60_vs10" Platform="all" Priority="0"/>
              </File>
              <Condition><![CDATA[RESHARPER60_VERSION <> ""]]></Condition>
            </Component>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="RESHARPER61_INSTALLDIR" Name="[RESHARPER61_INSTALLDIR]">
        <Directory Id="Dir_JetBrains_ReSharper_v61_Plugins" Name="Plugins">
          <Directory Id="Dir_JetBrains_ReSharper_v61_Plugins_Drop" Name="$(var.ProductNameShort)" FileSource="$(var.DropDir)">
            <Component Id="COM_RESHARPER610" Guid="78E3E9E1-4DCC-4D4A-A37F-27BAE629AE74">
              <File Id="FILE_RESHARPER610" Name="StyleCop.ReSharper610.dll" Checksum="yes" Vital="yes">
                <netfx:NativeImage Id="ngen_FILE_RESHARPER610" Platform="all" Priority="0"/>
              </File>
              <Condition><![CDATA[RESHARPER61_VERSION = "$(var.SupportedReSharper610Version)"]]></Condition>
            </Component>
            <Component Id="COM_RESHARPER611" Guid="A8D77B23-6B67-4640-8151-2CF482EFBC9C">
              <File Id="FILE_RESHARPER611" Name="StyleCop.ReSharper611.dll" Checksum="yes" Vital="yes">
                <netfx:NativeImage Id="ngen_FILE_RESHARPER611" Platform="all" Priority="0"/>
              </File>
              <Condition><![CDATA[(RESHARPER61_VERSION <> "" AND RESHARPER61_VERSION <> "$(var.SupportedReSharper610Version)")]]></Condition>
            </Component>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="RESHARPER70_INSTALLDIR" Name="[RESHARPER70_INSTALLDIR]">
        <Directory Id="Dir_JetBrains_ReSharper_v70_Plugins" Name="Plugins">
          <Directory Id="Dir_JetBrains_ReSharper_v70_Plugins_Drop" Name="$(var.ProductNameShort)" FileSource="$(var.DropDir)">
            <Component Id="COM_RESHARPER700" Guid="{46A63470-C926-41D4-B7B0-67C3279E8497}">
              <File Id="FILE_RESHARPER700" Name="StyleCop.ReSharper700.dll" Checksum="yes" Vital="yes">
                <netfx:NativeImage Id="ngen_FILE_RESHARPER700" Platform="all" Priority="0"/>
              </File>
              <Condition><![CDATA[RESHARPER70_VERSION <> ""]]></Condition>
            </Component>
          </Directory>
        </Directory>
      </Directory>
      
      <Directory Id="RESHARPER71_INSTALLDIR" Name="[RESHARPER71_INSTALLDIR]">
        <Directory Id="Dir_JetBrains_ReSharper_v71_Plugins" Name="Plugins">
          <Directory Id="Dir_JetBrains_ReSharper_v71_Plugins_Drop" Name="$(var.ProductNameShort)" FileSource="$(var.DropDir)">
            <Component Id="COM_RESHARPER710" Guid="*">
              <File Id="FILE_RESHARPER710" Name="StyleCop.ReSharper710.dll" Checksum="yes" Vital="yes">
                <netfx:NativeImage Id="ngen_FILE_RESHARPER710" Platform="all" Priority="0"/>
              </File>
              <Condition><![CDATA[RESHARPER71_VERSION <> ""]]></Condition>
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </DirectoryRef>
    
      <!-- Removes the old plugins -->
      <DirectoryRef Id="Dir_JetBrains_ReSharper_v60_vs9_Plugins">        
        <Component Id="COM_RESHARPER60_VS90_StyleCopForReSharper_1" Guid="337682C5-8B55-4682-968E-87C2C28170DC">
          <RemoveFolder Id="Dir_RESHARPER60_VS90_INSTALLDIR_Plugins" On="both" /> 
          <RemoveFile Id="FILE_RESHARPER60_VS90_1" Name="StyleCop.For.ReSharper.dll" On="both" />
          <Condition>RESHARPER60_VS90_VERSION</Condition>              
        </Component>
        <Directory Id="Dir_RESHARPER60_VS90_INSTALLDIR_Plugins_2" Name="Microsoft StyleCop For ReSharper">
          <Component Id="COM_RESHARPER60_VS90_StyleCopForReSharper_2" Guid="6E3F4CE9-7480-4A57-98B1-8E71D35EFAF0">
            <RemoveFolder Id="Dir_RESHARPER60_VS90_INSTALLDIR_Plugins_2" On="both" /> 
            <RemoveFile Id="FILE_RESHARPER60_VS90_2" Name="StyleCop.For.ReSharper.dll" On="both" />
            <Condition>RESHARPER60_VS90_VERSION</Condition>              
          </Component>
        </Directory>
      </DirectoryRef>

    <DirectoryRef Id="Dir_JetBrains_ReSharper_v60_vs10_Plugins">
      <Component Id="COM_RESHARPER60_VS100_StyleCopForReSharper_1" Guid="F9095612-57BE-40FB-9AB4-646D966833C3">
        <RemoveFolder Id="Dir_RESHARPER60_VS100_INSTALLDIR_Plugins" On="both" /> 
        <RemoveFile Id="FILE_RESHARPER60_VS100_StyleCopForReSharper_1" Name="StyleCop.For.ReSharper.dll" On="both" />
        <Condition>RESHARPER60_VS100_VERSION</Condition>
      </Component>
      <Directory Id="Dir_RESHARPER60_VS100_INSTALLDIR_Plugins_2" Name="Microsoft StyleCop For ReSharper">
        <Component Id="COM_RESHARPER60_VS100_StyleCopForReSharper_2" Guid="3F8005D8-D910-46BB-A4E1-374CFDF92AB5">
          <RemoveFolder Id="Dir_RESHARPER60_VS100_INSTALLDIR_Plugins_2" On="both" /> 
          <RemoveFile Id="FILE_RESHARPER60_VS100_StyleCopForReSharper_2" Name="StyleCop.For.ReSharper.dll" On="both" />
          <Condition>RESHARPER60_VS100_VERSION</Condition>              
        </Component>
      </Directory>
    </DirectoryRef>

    <DirectoryRef Id="ProgramFilesFolder">
      <Directory Id="AppDataFolder" Name="AppDataFolder">
        <Directory Id="JetBrains_1" Name="JetBrains">
          <Directory Id="ReSharper_1" Name="ReSharper">
            <Directory Id="v6.0_1" Name="v6.0">
              <Directory Id="vs9.0_1" Name="vs9.0">
                <Directory Id="Plugins_1" Name="Plugins" FileSource="$(var.DropDir)">
                  <Component Id="COM_RESHARPER60_VS90_StyleCopForReSharper_AppData" Guid="370ADA10-B11C-4B45-8139-1987BB6AC293">
                    <RemoveFolder Id="Plugins_1" On="both" />
                    <RemoveFile Id="StyleCopForReSharper_Assembly_1" Name="StyleCop.For.ReSharper.dll" On="both" />
                    <Condition>RESHARPER60_VS90_VERSION</Condition>
                  </Component>
                  <Directory Id="MicrosoftStyleCopForReSharper_1" Name="Microsoft StyleCop For ReSharper">
                    <Component Id="COM_RESHARPER60_VS90_StyleCopForReSharper_AppData_2" Guid="0B456799-E34B-4E05-BE8D-86691DB54619">
                      <RemoveFolder Id="MicrosoftStyleCopForReSharper_1" On="both" />
                      <RemoveFile Id="StyleCopForReSharper_Assembly_2" Name="StyleCop.For.ReSharper.dll" On="both" />
                      <Condition>RESHARPER60_VS90_VERSION</Condition>
                    </Component>
                  </Directory>
                </Directory>
              </Directory>
              <Directory Id="vs10.0_2" Name="vs10.0">
                <Directory Id="Plugins_2" Name="Plugins">
                  <Component Id="COM_RESHARPER60_VS100_StyleCopForReSharper_AppData" Guid="C9D8DED6-AD10-4086-A295-890BB7BC059A">
                    <RemoveFolder Id="Plugins_2" On="both" />
                    <RemoveFile Id="StyleCopForReSharper_Assembly_3" Name="StyleCop.For.ReSharper.dll" On="both" />
                    <Condition>RESHARPER60_VS100_VERSION</Condition>
                  </Component>
                  <Directory Id="MicrosoftStyleCopForReSharper_2" Name="Microsoft StyleCop For ReSharper">
                    <Component Id="COM_RESHARPER60_VS100_StyleCopForReSharper_AppData_2" Guid="C6F50EEA-E0E6-4B8C-8060-399FF3EC9C9D">
                      <RemoveFolder Id="MicrosoftStyleCopForReSharper_2" On="both" />
                      <RemoveFile Id="StyleCopForReSharper_Assembly_4" Name="StyleCop.For.ReSharper.dll" On="both" />
                      <Condition>RESHARPER60_VS100_VERSION</Condition>
                    </Component>
                  </Directory>
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </DirectoryRef>

    <ComponentGroup Id="ReSharper_Common" >
      <ComponentRef Id="COM_RESHARPER513_vs9" />
      <ComponentRef Id="COM_RESHARPER513_vs10" />
      <ComponentRef Id="COM_RESHARPER600_vs9" />
      <ComponentRef Id="COM_RESHARPER600_vs10" />
      <ComponentRef Id="COM_RESHARPER610" />
      <ComponentRef Id="COM_RESHARPER611" />
      <ComponentRef Id="COM_RESHARPER700" />
      <ComponentRef Id="COM_RESHARPER710" />
      <ComponentRef Id="StandardRegistryKeys" />
      <ComponentRef Id="COM_RESHARPER60_VS90_StyleCopForReSharper_1"/>
      <ComponentRef Id="COM_RESHARPER60_VS90_StyleCopForReSharper_2"/>
      <ComponentRef Id="COM_RESHARPER60_VS90_StyleCopForReSharper_AppData"/>
      <ComponentRef Id="COM_RESHARPER60_VS90_StyleCopForReSharper_AppData_2"/>
      <ComponentRef Id="COM_RESHARPER60_VS100_StyleCopForReSharper_1"/>
      <ComponentRef Id="COM_RESHARPER60_VS100_StyleCopForReSharper_2"/>
      <ComponentRef Id="COM_RESHARPER60_VS100_StyleCopForReSharper_AppData"/>
      <ComponentRef Id="COM_RESHARPER60_VS100_StyleCopForReSharper_AppData_2"/>
    </ComponentGroup>

  </Fragment>
</Wix>