<?xml version="1.0" encoding="UTF-8"?>

<?include SharedIncludes.wxi ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>

    <Property Id="RESHARPER61_VS90_VERSION" Admin="yes" Secure="yes">
      <RegistrySearch Id="REG_RESHARPER61_VS90_VERSION" Root="HKLM" Key="Software\JetBrains\ReSharper\v6.1\vs9.0" Name="ProductVersion" Type="raw" />
    </Property>

    <Property Id="RESHARPER61_VS100_VERSION" Admin="yes" Secure="yes">
      <RegistrySearch Id="REG_RESHARPER61_VS100_VERSION" Root="HKLM" Key="Software\JetBrains\ReSharper\v6.1\vs10.0" Name="ProductVersion" Type="raw" />
    </Property>    

    <Property Id="RESHARPER61_VS90_INSTALLDIR" Admin="yes" Secure="yes">
      <RegistrySearch Id="REG_RESHARPER61_VS90_INSTALLDIR" Type="directory" Root="HKLM" Key="SOFTWARE\JetBrains\ReSharper\v6.1\vs9.0" Name="InstallDir" />
    </Property>

    <Property Id="RESHARPER61_VS100_INSTALLDIR" Admin="yes" Secure="yes">
      <RegistrySearch Id="REG_RESHARPER61_VS100_INSTALLDIR" Type="directory" Root="HKLM" Key="SOFTWARE\JetBrains\ReSharper\v6.1\vs10.0" Name="InstallDir" />
    </Property>

    <Property Id="RESHARPER60_VS90_VERSION" Admin="yes" Secure="yes">
      <RegistrySearch Id="REG_RESHARPER60_VS90_VERSION" Root="HKLM" Key="Software\JetBrains\ReSharper\v6.0\vs9.0" Name="ProductVersion" Type="raw" />
    </Property>

    <Property Id="RESHARPER60_VS100_VERSION" Admin="yes" Secure="yes">
      <RegistrySearch Id="REG_RESHARPER60_VS100_VERSION" Root="HKLM" Key="Software\JetBrains\ReSharper\v6.0\vs10.0" Name="ProductVersion" Type="raw" />
    </Property>
    
    <Property Id="RESHARPER60_VS90_INSTALLDIR" Admin="yes" Secure="yes">
      <RegistrySearch Id="REG_RESHARPER60_VS90_INSTALLDIR" Type="directory" Root="HKLM" Key="SOFTWARE\JetBrains\ReSharper\v6.0\vs9.0" Name="InstallDir" />
    </Property>

    <Property Id="RESHARPER60_VS100_INSTALLDIR" Admin="yes" Secure="yes">
      <RegistrySearch Id="REG_RESHARPER60_VS100_INSTALLDIR" Type="directory" Root="HKLM" Key="SOFTWARE\JetBrains\ReSharper\v6.0\vs10.0" Name="InstallDir" />
    </Property>

    <Property Id="RESHARPER51_VS90_VERSION" Admin="yes" Secure="yes">
      <RegistrySearch Id="REG_RESHARPER51_VS90_VERSION" Root="HKLM" Key="Software\JetBrains\ReSharper\v5.1\vs9.0" Name="ProductVersion" Type="raw" />
    </Property>

    <Property Id="RESHARPER51_VS100_VERSION" Admin="yes" Secure="yes">
      <RegistrySearch Id="REG_RESHARPER51_VS100_VERSION" Root="HKLM" Key="Software\JetBrains\ReSharper\v5.1\vs10.0" Name="ProductVersion" Type="raw" />
    </Property>
    
    <Property Id="RESHARPER51_VS90_INSTALLDIR" Admin="yes" Secure="yes">
      <RegistrySearch Id="REG_RESHARPER51_VS90_INSTALLDIR" Type="directory" Root="HKLM" Key="SOFTWARE\JetBrains\ReSharper\v5.1\vs9.0" Name="InstallDir" />
    </Property>

    <Property Id="RESHARPER51_VS100_INSTALLDIR" Admin="yes" Secure="yes">
      <RegistrySearch Id="REG_RESHARPER51_VS100_INSTALLDIR" Type="directory" Root="HKLM" Key="SOFTWARE\JetBrains\ReSharper\v5.1\vs10.0" Name="InstallDir" />
    </Property>

    <DirectoryRef Id="ProgramFilesFolder">
      <Directory Id="RESHARPER61_VS90_INSTALLDIR" Name="[RESHARPER61_VS90_INSTALLDIR]">
        <Directory Id="Dir_RESHARPER61_VS90_INSTALLDIR_Plugins" Name="Plugins">
          <Directory Id="Dir_RESHARPER61_VS90_INSTALLDIR_Plugins_Drop" Name="$(var.ProductNameShort)" FileSource="$(var.DropDir)">
            <Component Id="COM_RESHARPER61_VS90" Guid="BD280C22-5570-45BF-B5DF-480A0C195457">
              <File Id="FILE_RESHARPER61_VS90" Name="StyleCop.ReSharper61.dll" Checksum="yes" Vital="yes" />
              <Condition>RESHARPER61_VS90_VERSION</Condition>
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="RESHARPER61_VS100_INSTALLDIR" Name="[RESHARPER61_VS100_INSTALLDIR]">
        <Directory Id="Dir_RESHARPER61_VS100_INSTALLDIR_Plugins" Name="Plugins">
          <Directory Id="Dir_RESHARPER61_VS100_INSTALLDIR_Plugins_Drop" Name="$(var.ProductNameShort)" FileSource="$(var.DropDir)">
            <Component Id="COM_RESHARPER61_VS100" Guid="D699ADA4-13C4-46D4-8992-0BF7B19B2B66">
              <File Id="FILE_RESHARPER61_VS100" Name="StyleCop.ReSharper61.dll" Checksum="yes" Vital="yes" />
              <Condition>RESHARPER61_VS100_VERSION</Condition>
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="RESHARPER60_VS90_INSTALLDIR" Name="[RESHARPER60_VS90_INSTALLDIR]">
        <Directory Id="Dir_RESHARPER60_VS90_INSTALLDIR_Plugins" Name="Plugins">
          <Directory Id="Dir_RESHARPER60_VS90_INSTALLDIR_Plugins_Drop" Name="$(var.ProductNameShort)" FileSource="$(var.DropDir)">
            <Component Id="COM_RESHARPER60_VS90" Guid="CE524442-8546-43B1-A067-E158DA896343">
              <File Id="FILE_RESHARPER60_VS90" Name="StyleCop.ReSharper60.dll" Checksum="yes" Vital="yes" />
              <Condition>RESHARPER60_VS90_VERSION</Condition>
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="RESHARPER60_VS100_INSTALLDIR" Name="[RESHARPER60_VS100_INSTALLDIR]">
        <Directory Id="Dir_RESHARPER60_VS100_INSTALLDIR_Plugins" Name="Plugins">
          <Directory Id="Dir_RESHARPER60_VS100_INSTALLDIR_Plugins_Drop" Name="$(var.ProductNameShort)" FileSource="$(var.DropDir)">
            <Component Id="COM_RESHARPER60_VS100" Guid="5EE1E556-1CAB-495B-A92D-326510B50F43">
              <File Id="FILE_RESHARPER60_VS100" Name="StyleCop.ReSharper60.dll" Checksum="yes" Vital="yes" />
              <Condition>RESHARPER60_VS100_VERSION</Condition>
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="RESHARPER51_VS90_INSTALLDIR" Name="[RESHARPER51_VS90_INSTALLDIR]">
        <Directory Id="Dir_RESHARPER51_VS90_INSTALLDIR_Plugins" Name="Plugins">
          <Directory Id="Dir_RESHARPER51_VS90_INSTALLDIR_Plugins_Drop" Name="$(var.ProductNameShort)" FileSource="$(var.DropDir)">
            <Component Id="COM_RESHARPER51_VS90" Guid="87C641B9-8CBB-406F-8581-09A8F91D7B7A">
              <File Id="FILE_RESHARPER51_VS90" Name="StyleCop.ReSharper51.dll" Checksum="yes" Vital="yes" />
              <Condition>RESHARPER51_VS90_VERSION</Condition>
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="RESHARPER51_VS100_INSTALLDIR" Name="[RESHARPER51_VS100_INSTALLDIR]">
        <Directory Id="Dir_RESHARPER51_VS100_INSTALLDIR_Plugins" Name="Plugins">
          <Directory Id="Dir_RESHARPER51_VS100_INSTALLDIR_Plugins_Drop" Name="$(var.ProductNameShort)" FileSource="$(var.DropDir)">
            <Component Id="COM_RESHARPER51_VS100" Guid="28935762-C6FE-4213-A4E7-826BC7E8D745">
              <File Id="FILE_RESHARPER51_VS100" Name="StyleCop.ReSharper51.dll" Checksum="yes" Vital="yes" />
              <Condition>RESHARPER51_VS100_VERSION</Condition>
            </Component>
          </Directory>
        </Directory>
      </Directory>  
    </DirectoryRef>

    <!-- Removes the old plugins -->
    <DirectoryRef Id="Dir_RESHARPER60_VS90_INSTALLDIR_Plugins">          
      <Component Id="COM_RESHARPER60_VS90_StyleCopForReSharper_1" Guid="337682C5-8B55-4682-968E-87C2C28170DC">
        <RemoveFolder Id="Dir_RESHARPER60_VS90_INSTALLDIR_Plugins" On="both" /> 
        <RemoveFile Id="FILE_RESHARPER60_VS90_1" Name="StyleCop.For.ReSharper.dll" On="both" />
        <Condition>RESHARPER60_VS90_VERSION</Condition>              
      </Component>
      <Directory Id="Dir_RESHARPER60_VS90_INSTALLDIR_Plugins_2" Name="Microsoft StyleCop For ReSharper">
        <Component Id="COM_RESHARPER60_VS90_StyleCopForReSharper_2" Guid="6E3F4CE9-7480-4A57-98B1-8E71D35EFAF0">
          <RemoveFolder Id="Dir_RESHARPER60_VS90_INSTALLDIR_Plugins_2" On="both" /> 
          <RemoveFile Id="FILE_RESHARPER60_VS90_2" Name="StyleCop.For.ReSharper.dll" On="both" />
          <Condition>RESHARPER60_VS90_VERSION</Condition>              
        </Component>
      </Directory>
    </DirectoryRef>

    <DirectoryRef Id="Dir_RESHARPER60_VS100_INSTALLDIR_Plugins">
      <Component Id="COM_RESHARPER60_VS100_StyleCopForReSharper_1" Guid="F9095612-57BE-40FB-9AB4-646D966833C3">
        <RemoveFolder Id="Dir_RESHARPER60_VS100_INSTALLDIR_Plugins" On="both" /> 
        <RemoveFile Id="FILE_RESHARPER60_VS100_StyleCopForReSharper_1" Name="StyleCop.For.ReSharper.dll" On="both" />
        <Condition>RESHARPER60_VS100_VERSION</Condition>
      </Component>
      <Directory Id="Dir_RESHARPER60_VS100_INSTALLDIR_Plugins_2" Name="Microsoft StyleCop For ReSharper">
        <Component Id="COM_RESHARPER60_VS100_StyleCopForReSharper_2" Guid="3F8005D8-D910-46BB-A4E1-374CFDF92AB5">
          <RemoveFolder Id="Dir_RESHARPER60_VS100_INSTALLDIR_Plugins_2" On="both" /> 
          <RemoveFile Id="FILE_RESHARPER60_VS100_StyleCopForReSharper_2" Name="StyleCop.For.ReSharper.dll" On="both" />
          <Condition>RESHARPER60_VS100_VERSION</Condition>              
        </Component>
      </Directory>
    </DirectoryRef>

    <DirectoryRef Id="ProgramFilesFolder">
      <Directory Id="AppDataFolder" Name="AppDataFolder">
        <Directory Id="JetBrains_1" Name="JetBrains">
          <Directory Id="ReSharper_1" Name="ReSharper">
            <Directory Id="v6.0_1" Name="v6.0">
              <Directory Id="vs9.0_1" Name="vs9.0">
                <Directory Id="Plugins_1" Name="Plugins" FileSource="$(var.DropDir)">        
                  <Component Id="COM_RESHARPER60_VS90_StyleCopForReSharper_AppData" Guid="370ADA10-B11C-4B45-8139-1987BB6AC293">
                    <RemoveFolder Id="Plugins_1" On="both" />  
                    <RemoveFile Id="StyleCopForReSharper_Assembly_1" Name="StyleCop.For.ReSharper.dll" On="both" />
                    <Condition>RESHARPER60_VS90_VERSION</Condition>              
                  </Component>                 
                  <Directory Id="MicrosoftStyleCopForReSharper_1" Name="Microsoft StyleCop For ReSharper">
                    <Component Id="COM_RESHARPER60_VS90_StyleCopForReSharper_AppData_2" Guid="0B456799-E34B-4E05-BE8D-86691DB54619">
                      <RemoveFolder Id="MicrosoftStyleCopForReSharper_1" On="both" />  
                      <RemoveFile Id="StyleCopForReSharper_Assembly_2" Name="StyleCop.For.ReSharper.dll" On="both" />
                      <Condition>RESHARPER60_VS90_VERSION</Condition>              
                    </Component>
                  </Directory>
                </Directory>
              </Directory>
              <Directory Id="vs10.0_2" Name="vs10.0">
                <Directory Id="Plugins_2" Name="Plugins">          
                  <Component Id="COM_RESHARPER60_VS100_StyleCopForReSharper_AppData" Guid="C9D8DED6-AD10-4086-A295-890BB7BC059A">
                    <RemoveFolder Id="Plugins_2" On="both" />
                    <RemoveFile Id="StyleCopForReSharper_Assembly_3" Name="StyleCop.For.ReSharper.dll" On="both" />
                    <Condition>RESHARPER60_VS100_VERSION</Condition>              
                  </Component>
                  <Directory Id="MicrosoftStyleCopForReSharper_2" Name="Microsoft StyleCop For ReSharper">
                    <Component Id="COM_RESHARPER60_VS100_StyleCopForReSharper_AppData_2" Guid="C6F50EEA-E0E6-4B8C-8060-399FF3EC9C9D">
                      <RemoveFolder Id="MicrosoftStyleCopForReSharper_2" On="both" />
                      <RemoveFile Id="StyleCopForReSharper_Assembly_4" Name="StyleCop.For.ReSharper.dll" On="both" />
                      <Condition>RESHARPER60_VS100_VERSION</Condition>              
                    </Component>
                  </Directory>
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </DirectoryRef>

    <ComponentGroup Id="ReSharper_Common" >
      <ComponentRef Id="COM_RESHARPER61_VS90" />
      <ComponentRef Id="COM_RESHARPER61_VS100" />
      <ComponentRef Id="COM_RESHARPER60_VS90" />
      <ComponentRef Id="COM_RESHARPER60_VS100" />
      <ComponentRef Id="COM_RESHARPER51_VS90" />
      <ComponentRef Id="COM_RESHARPER51_VS100" />

      <ComponentRef Id="StandardRegistryKeys" />
      <ComponentRef Id="COM_RESHARPER60_VS90_StyleCopForReSharper_1"/>
      <ComponentRef Id="COM_RESHARPER60_VS90_StyleCopForReSharper_2"/>
      <ComponentRef Id="COM_RESHARPER60_VS90_StyleCopForReSharper_AppData"/>
      <ComponentRef Id="COM_RESHARPER60_VS90_StyleCopForReSharper_AppData_2"/>
      <ComponentRef Id="COM_RESHARPER60_VS100_StyleCopForReSharper_1"/>
      <ComponentRef Id="COM_RESHARPER60_VS100_StyleCopForReSharper_2"/>
      <ComponentRef Id="COM_RESHARPER60_VS100_StyleCopForReSharper_AppData"/>
      <ComponentRef Id="COM_RESHARPER60_VS100_StyleCopForReSharper_AppData_2"/>
    </ComponentGroup>

  </Fragment>
</Wix>