<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>

    <DirectoryRef Id="ProgramFilesFolder">
      <Directory Id="Dir_VSTemplates_VS10" Name="Microsoft Visual Studio 10.0">
        <Directory Id="Dir_VSTemplates_Common7" Name="Common7">
          <Directory Id="Dir_VSTemplates_IDE" Name="IDE">
            <Directory Id="Dir_VSTemplates_ItemTemplates" FileSource="..\..\VisualStudioTemplates\ItemTemplates" Name="ItemTemplates" >
              <Directory Id="Dir_VSTemplates_CSharp" Name="CSharp">
                <Directory Id="Dir_VSTemplates_Code" Name="Code">
                  <Directory Id="Dir_VSTemplates_1033" Name="1033">
                    <Component Id="Component_VSTemplates_1" Guid="60E6CB5F-2E7B-4690-A606-4F5AAFFD3687">
                      <File Name="Class.zip" Checksum="yes" Vital="yes" />
                      <File Name="CodeFile.zip" Checksum="yes" Vital="yes" />
                      <File Name="Interface.zip" Checksum="yes" Vital="yes" />
                    </Component>
                  </Directory>
                </Directory>
              </Directory>
            </Directory>            
          </Directory>
        </Directory>
      </Directory>
    </DirectoryRef>

    <ComponentGroup Id="VSTemplates_Common">
      <ComponentRef Id="Component_VSTemplates_1"/>
    </ComponentGroup>

  </Fragment>
</Wix>