<?xml version="1.0" encoding="UTF-8"?>

<?include SharedIncludes.wxi ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Fragment Id="VsPackageFragment">

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="$(var.ProductNameShort)" FileSource="$(var.DropDir)">

          <Component Id="VisualStudioPackageCommon" Guid="3c439240-494f-423d-bcc5-8247e4c21076">
            <File Id='VsPackageDll' Name='StyleCop.VSPackage.dll' Checksum="yes" Vital='yes'>
              <netfx:NativeImage Id="ngen_VsPackageDll" Platform="all" Priority="0"/>
            </File>
          </Component>
          
          <Component Id="StyleCopCommon" Guid="3CE3C34D-A18E-4032-A7AC-849F1E386A4E">
            <File Id='AnalysisEngineDll' Name='StyleCop.dll' Checksum="yes" Vital='yes'>
              <netfx:NativeImage Id="ngen_AnalysisEngineDll" Platform="all" Priority="0"/>
            </File>
            <File Id='CSharpParser' Name='StyleCop.CSharp.dll' Checksum="yes" Vital='yes'>
              <netfx:NativeImage Id="ngen_CSharpParser" Platform="all" Priority="0"/>
            </File>
            <File Id='CSharpAnalyzer' Name='StyleCop.CSharp.Rules.dll' Checksum="yes" Vital='yes'>
              <netfx:NativeImage Id="ngen_CSharpAnalyzer" Platform="all" Priority="0"/>
            </File>
            <File Id='Settings' Name='Settings.StyleCop' Checksum="yes" Vital='yes' />
            <File Id='SpellingDll' Name='MSSpell3.dll' Checksum="yes" Vital='yes' />
            <File Id='Spelling_Lex_1' Name='MSSp3en.lex' Checksum="yes" Vital='yes' />
            <File Id='Spelling_Lex_2' Name='MSSp3ena.lex' Checksum="yes" Vital='yes' />
            <File Id='SpellingDictionary' Name='CustomDictionary.xml' Checksum="yes" Vital='yes' />
          </Component>

          <Directory Id='enGB' Name='en-GB'>
            <Component Id="enGB" Guid="*">
              <File Id='enGB_dll' Name='StyleCop.CSharp.Rules.resources.dll' Checksum="yes" Vital='yes' />
            </Component>
          </Directory>

          <Directory Id='deDE' Name='de-DE'>
            <Component Id="deDE" Guid="*">
              <File Id='deDE_dll' Name='StyleCop.CSharp.Rules.resources.dll' Checksum="yes" Vital='yes' />
            </Component>
          </Directory>
          
          <Directory Id='frFR' Name='fr-FR'>
            <Component Id="frFR" Guid="*">
              <File Id='frFR_dll' Name='StyleCop.CSharp.Rules.resources.dll' Checksum="yes" Vital='yes' />
            </Component>
          </Directory>

          <Directory Id='plPL' Name='pl-PL'>
            <Component Id="plPL" Guid="*">
              <File Id='plPL_dll' Name='StyleCop.CSharp.Rules.resources.dll' Checksum="yes" Vital='yes' />
            </Component>
          </Directory>
          
          <Directory Id='ptBR' Name='pt-BR'>
            <Component Id="ptBR" Guid="*">
              <File Id='ptBR_dll' Name='StyleCop.CSharp.Rules.resources.dll' Checksum="yes" Vital='yes' />
            </Component>
          </Directory>

          <Directory Id='ruRU' Name='ru-RU'>
            <Component Id="ruRU" Guid="*">
              <File Id='ruRU_dll' Name='StyleCop.CSharp.Rules.resources.dll' Checksum="yes" Vital='yes' />
            </Component>
          </Directory>

          <Component Id="StandardRegistryKeys" Guid="3c439240-494f-423d-bcc5-8247e4c21077">
            <RegistryKey Action='createAndRemoveOnUninstall' Root='HKLM' Key='Software\CodePlex\StyleCop' Id='InstallLocation' />
            <RegistryValue Root='HKLM' Key='Software\CodePlex\StyleCop' Type='string' Name='InstallDir' Value='[INSTALLDIR]' Id='InstallLocation_001' />
            <RegistryValue Root='HKLM' Key='Software\CodePlex\StyleCop' Type='string' Name='InstallDate' Value='[Date]' Id='InstallLocation_002' />
            <RegistryValue Root='HKLM' Key='Software\CodePlex\StyleCop' Type='string' Name='ProductVersion' Value='$(var.WixVersionLong)' Id='InstallLocation_003' />
          </Component>

          <Directory Id="DOCS" Name="Docs" FileSource="$(var.RootDir)\Docs\Bin">
            <Component Id="StyleCopDocs" Guid="9E101542-FD36-4586-8AD7-2BFBD1D2387D">
              <File Id='RulesChm' Name='StyleCop.chm' Checksum="yes" Vital='yes' />
            </Component>
          </Directory>

        </Directory>
      </Directory>

    </Directory>

    <ComponentGroup Id="VisualStudio_Common">
      <ComponentRef Id="VisualStudioPackageCommon" />
      <ComponentRef Id="StyleCopCommon" />
      <ComponentRef Id="VisualStudio2008Component" />
      <ComponentRef Id="VisualStudio2010Component" />
      <ComponentRef Id="VisualStudio2012Component" />
      <ComponentRef Id="SettingsEditorProgFilesComponent" />
      <ComponentRef Id="StyleCopDocs" />
      <ComponentRef Id="StandardRegistryKeys" />
      <ComponentRef Id="enGB" />
      <ComponentRef Id="frFR" />
      <ComponentRef Id="plPL" />
      <ComponentRef Id="ptBR" />
      <ComponentRef Id="ruRU" />
      <ComponentRef Id="deDE" />
    </ComponentGroup>

  </Fragment>
</Wix>
